<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Quick links to university würzburg online services to save you and all other students time">
        <meta name="keywords" content="university,julius-maximilians-universität,jmu,würzburg,wuerzburg,wuel,quick links">
        <title>Wuel - Uni Wue Quick Links</title>

        <link rel="stylesheet" href="./static/main.css">

        <!-- web manifest -->
        <link rel="manifest" href="manifest.json">

        <!-- all the icon sizes -->
        <link rel="shortcut icon" href="./static/icons/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="./static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./static/icons/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="192x192" href="./static/icons/maskable_icon_x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="./static/icons/apple-touch-icon.png">
        <link rel="mask-icon" href="./static/icons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#fff4f4">

        <!-- Bootstrap css imports -->
        <link rel="stylesheet" href="./static/external/bootstrap.min.css">
    </head>
    <body>
        <div class="bg">
            <div class="container">
                <h1 class="title">{{title}}</h1>

                <div class="row">
                    {% for item in links %}
                    <a href="{{ item.href }}" class="courseLink">
                        <div class="col">
                            {{ item.name }}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Bootstrap js imports -->
        <script src="./static/external/bootstrap-native.min.js"></script>
    </body>
</html>

