<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Quick links for {{ title }} students at the university würzburg to save you time">
        <meta name="keywords" content="wuel,{{title}},university,julius-maximilians-universität,jmu,würzburg,wuerzburg,quick links">
        <title>Wuel - {{ title }} links</title>

        <link rel="stylesheet" href="../static/main.css">
        <style>
            div.bg {
                background-color: {{backgroundColor}};
                color: {{color}};
            }

            div.col {
                background-color: {{color}};
                color: {{backgroundColor}}; 
            }
        </style>

        <!-- web manifest -->
        <link rel="manifest" href="manifest.json">

        <!-- all the icon sizes -->
        <link rel="shortcut icon" href="../static/icons/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/icons/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="192x192" href="./static/icons/android-chrome-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../static/icons/apple-touch-icon.png">
        <link rel="mask-icon" href="../static/icons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#fff4f4">

        <!-- Bootstrap css imports -->
        <link rel="stylesheet" href="../static/external/bootstrap.min.css">
    </head>
    <body>
        <div class="bg">
            <div class="container">
                <h1 class="title">{{title}}</h1>

                <div class="row">
                    {% for item in links %}
                    <a href="{{ item.href }}">
                        <div class="col">
                            <img class="linkIcon" src="{{ item.iconUrl }}" alt="{{ item.name }} icon">
                            <br>
                            {{ item.name }}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <script>
            // register service worker for pwa functionality
            if ('serviceWorker' in navigator) {
                // inspired by https://stackoverflow.com/a/14462451
                const path = window.location.pathname

                // current path of subject e.g. /mcs/
                const subjectPath = path.substr(0, path.lastIndexOf("/"));

                // path where static assets for all reside in
                const staticPath = subjectPath.substr(0, subjectPath.lastIndexOf("/")) + '/static';

                window.addEventListener('load', () => {
                    // first add worker to cache static files like main.css
                    navigator.serviceWorker.register('../static/service-workers/static-cache-worker', {
                        scope: staticPath
                    }).then((reg) => {
                        console.log('Service worker for static files registered.', reg);
                    });

                    // then add worker to cache index.html of subject and manifest.json and so on
                    navigator.serviceWorker.register('../static/service-workers/subject-files-cache-worker.js', {
                        scope: subjectPath
                    }).then((reg) => {
                        console.log('Service worker for subject files registered.', reg);
                    });
                });
            }
        </script>

        <!-- Bootstrap js imports -->
        <script src="../static/external/bootstrap-native.min.js"></script>
    </body>
</html>

