<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Quick links to university würzburg online services to save you and all other students time">
        <meta name="keywords" content="university,julius-maximilians-universität,jmu,würzburg,wuerzburg,wuel,quick links">
        <title>Wuel - Uni Wue Quick Links</title>

        <link rel="stylesheet" href="../static/main.css">
        <style>
            div.bg {
                background-color: {{backgroundColor}};
                color: {{color}};
            }

            div.col {
                background-color: {{color}};
                color: {{backgroundColor}}; 
            }
        </style>

        <!-- Bootstrap css imports -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="bg">
            <div class="container">
                <h1 class="title">{{title}}</h1>

                <div class="row">
                    {% for item in links %}
                    <a href="{{ item.href }}">
                        <div class="col">
                            <img class="linkIcon" src="{{ item.iconUrl }}" alt="{{ item.name }}">
                            <br>
                            {{ item.name }}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Bootstrap js imports -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    </body>
</html>

